/* --- Header --- */

.header {
  background: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
}

/* --- Login --- */

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
  padding: 35px 75px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 24%);
  background: #fff;
}
.mainsecContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
  padding: 35px 75px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 24%);
  background: #fff;
}
.mv-h, .mv-huge, .mv\+ {
  margin-top: 32px!important;
  margin-bottom: 32px!important;
}
.form__or {
  margin: 32px 0;
  text-align: center;
  overflow: visible;
}
hr {
  clear: both;
  border: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin: 32px 0;
  text-align: center;
  overflow: visible;
}
.form__or:after {
  content: "or";
  position: relative;
  top: -.7em;
  display: inline-block;
  padding: 0 8px;
  background-color: #fff;
}
label {
  display: block;
  text-align: left;
}
/* button,
form,
input {
  width: 100%;
}
form button {
  display: block;
  text-align: center;
} */

/* --- Classes --- */
.footer{
  width:100%;
  height:auto;
  margin:1%;
  padding:2%;
  background-color: #ccc;
  text-align: center;

}
.classes h1 {
  margin-bottom: 35px;
}
.classes .card {
  margin-bottom: 24px;
}

.classes.container {
  margin: 100px auto;
}

.app {
  background-color: #f6f6f6;
  min-height: 100vh;
}

select {
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
  padding: 0 10px;
  width: 300px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 300px;
}

.inputGroup label {
  margin-bottom: 3px;
}

.inputGroup input {
  height: 30px;
  border-radius: 5px;
  width: 100%;
  padding: 0 10px;
  font-size: 1.1rem;
}

button {
  height: 30px;
  background-color: white;
  border: white;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  height: 30px;
  background-color: rgb(184, 184, 184);
}

.button {
  margin: 0 10px 10px 0;
}
#nav{
  width:100%;
  background-color:#ccc;
  height:auto;
  padding:20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size:25px;
  margin:1%;
  


}
#links{
  color: #741522 !important;
  text-decoration: none;
}